<!DOCTYPE html>
<html>

<head>
    <!-- META TAGS -->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="i do a bit of programming - when im not lazy of course">
    <!-- PAGE SETUP -->
    <title>WillieWalvis • Home</title>
    <link rel="icon" type="image/png" href="/img/icoPNG.png">
    <!-- CSS FILES -->
    <link rel="stylesheet" href="/css/cards/main.css">
    <link rel="stylesheet" href="/css/cards/background.css">
    <!-- JS FILES -->
    <script src="https://unpkg.com/css-doodle@0.15.3/css-doodle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/mobile.js"></script>
</head>

<body>
    <!-- BACKGROUND ANIMATION  -->
    <div id="lines-animation" class="lines">
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <!-- SPOTIFY CARD -->
    <div id="card-main" class="card">
        <div class="card-header">
            <img src="/img/edit3.jpg" />
            <div>
                <p>Wilmar Malherbe</p>
                <p>@williewalvis</p>
            </div>
        </div>
        <div class="card-body">
            <img id="image_cover" src="" />
            <p id="song_name"></p>
        </div>
        <div class="card-footer">
            <a id="spotify_uri" href="">
                <img src="/img/spotify.png" />
            </a>
        </div>
    </div>
    <!-- MAIN TEXT BACKDROP -->
    <div>
        <a id="animated-name" href="https://www.instagram.com/williewalvis/" class="btn-shine" target="_blank">Wilmar
            Malherbe</a>
        <a id="motd" class="motd">stay positive, you are enough</a>
    </div>
</body>

</html>